# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store

# Base de datos local
data/*.sqlite

# VS Code settings
.vscode/
